
 
body{
background-color:#FFFFFF;
font-family: 'Trebuchet MS', Arial, sans-serif;
color:#181818;
}
#container
{
   width:95%;
    margin: auto;
}
section h1,nav a
{
    font-weit: normal;
    text-transform: uppercase;
	
}
footer h2{
margin-top:10px;
font-weit: normal;
text-transform: uppercase;
color:#800000;

}
section h1{
color:white;
width:150px;
background-color:#800000;
border-radius:8px;
margin-left:5px;
padding-left:10px;
padding-right:2px;
}
header{
background-color:#A52A2A;
color:white;
font-family:arial;
margin-top:10px;
border-radius:10px;
height:85px;

}
section{

margin-top:10px;
margin-bottom:60px;
border:1px solid #A52A2A;
border-radius:10px;


}
article,aside{

border:1px solid #A52A2A;
border-radius:10px;
display: inline-block;
    vertical-align: top;
    text-align: justify;}
article
{
    width:800px;
    margin: 15px;
    margin-right:15px;
}	
	aside{
 position: relative;
    width: 395px;
	margin:15px;
	padding-bottom:35px;
	
	
	text-align:center;
	
}
aside h1{
margin-left:100px;

}


article p{
width:700px;
padding :15px;
margin-top:-30px;
}

header h1 {
display: inline-block;
margin-top:10px;
padding-left:20px;
padding-top:5px;
margin-bottom:0px;
 font-family: 'BallparkWeiner', serif;
 font-size: 2.5em;
 font-weight: normal;
}
header h5{display: inline-block;
margin-left:20px;}
nav{
width: 580px;
display:inline-block;
text-align:right;
}
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
}
 
nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
 
nav a:hover
{
    color: #D2691E;
    border-bottom: 3px solid #D2691E;
}
